include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include isat *.py
recursive-include tests *.py
recursive-include examples *.py *.sh
recursive-include docs *.yml
prune .github
